
/* Referencing css class https://www.w3schools.com/howto/howto_css_button_group.asp */

.btn-group {
    margin-left: 0.5%;
    margin-right: 0.5%;
    clear: both;
}

.btn-group .button {
  background-color: #00693E; /* Green */
  border-color: #4D4E53; /* grey */
  width: 33.3%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button:hover {
  background-color: #FFCB00;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}